#main-container{
	overflow:auto;
}

a.dropdown{
	text-decoration: none;
	color: #c7133b;
}

a.dropdown:hover{
	color: #f8992d;
}

ul{
	margin-right: 50px;
	margin-left: 50px;
	list-style-position: inside;
}

hr{
	color: #f2dfcd;
	background-color: #f2dfcd;
	height: 3px;
	width: 85%;
	border-style: solid;
	border-width: 1px;
	border-color: #f2dfcd;
	border-radius: 25px;
}

ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	left:0;
	background-color: #2d74f8;
	/* overflow: auto; */
	width: 100%;
	position: fixed;
}

ul.navbar > li{
	float: right;
	border-right: 1px solid #f2dfcd;
}

ul.navbar > li:last-child{
	border-left: 1px solid #f2dfcd;

}

ul.navbar > li > a {
	width: 60px;
	color: white;
	font-family: Bahiana;
	letter-spacing: 2px;
	display: block;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
}

ul.navbar > li.main-btn{
	float:left;
}

ul.navbar > li > a:hover{
	color: black;
}

ul.navbar> li > a.active{
	background-color: #13a3c7;
}

.dropbtn {
	width: 80px;
	height: 47px;
	background-color: #13a3c7;
	font-family: Bahiana;
	font-size: 2em;
	border-color: #13a3c7;
	border: 1px solid black;
}

.dropbtn:hover, .dropbtn:focus {
	position: relative;
	display: inline-block;
	background-color: #0383a3;
	outline: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: #2eb6e0;
}

.show {
	display: block;
}

.loginDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.loginDiv h3 {
	font-family: 'Georgia';
	font-size: 2em;
	color: black;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	text-align:center;
}

.header {
	text-align: center;
	font-size: 3em;
	font-family: 'Kumar One'
}

body {
	background-color: rgb(0, 132, 255);
}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(9, 64, 182, 0.3);
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

#enter:hover {
	background-color: rgb(0, 89, 255);
}

#register {
	position: absolute;
	left: 15%;
}

#register:link, #register:visited {
	background-color: #1e21c2;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
	display: inline-block;
	border-radius: 8px;
}

#register:hover {
	background-color: rgb(34, 13, 155);
}

h1 {
	text-shadow: 0 0 8px #ffffff;
}